<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				{"level":"%level","message":"%message","time":"%date{ISO8601}","class":"%logger{36}"}\n\n
			</pattern>
		</encoder>
	</appender>
	<springProperty scope="context" name="rabbitHost" source="spring.rabbitmq.host" defaultValue="localhost"/>
	<appender name="AMQP" class="vn.com.tpf.microservices.services.AmqpService">
		<layout>
			<pattern>
				{"level":"%level","message":"%message","time":"%date{ISO8601}","class": "%logger{36}"}
			</pattern>
		</layout>
		<host>${rabbitHost}</host>
		<springProfile name="dev"><host>${rabbitHost}</host></springProfile>
		<springProfile name="uat"><host>${rabbitHost}</host></springProfile>
		<springProfile name="pro"><host>${rabbitHost}</host></springProfile>
		<port>5672</port>
		<username>tpf-service-mobile4cs</username>
		<password>tpf-service-mobile4cs</password>
		<routingKeyPattern>tpf-service-logstash-mobile4cs</routingKeyPattern>
	</appender>
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="AMQP" />
	</root>
</configuration>