<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				{"level":"%level","message":"%message","time":"%date{ISO8601}","class":"%logger{36}"}\n\n
			</pattern>
		</encoder>
	</appender>
	<appender name="AMQP" class="vn.com.tpf.microservices.services.AmqpService">
		<layout>
			<pattern>
				{"level":"%level","message":"%message","time":"%date{ISO8601}","class": "%logger{36}"}
			</pattern>
		</layout>
		<host>10.131.31.202</host>
		<springProfile name="dev"><host>tpf-opensource-rabbitmq</host></springProfile>
		<springProfile name="uat"><host>tpf-opensource-rabbitmq</host></springProfile>
		<springProfile name="pro"><host>10.1.64.41</host></springProfile>
		<port>5672</port>
		<username>tpf-service-autoallocation</username>
		<password>tpf-service-autoallocation</password>
		<routingKeyPattern>tpf-service-logstash-autoallocation</routingKeyPattern>
	</appender>
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="AMQP" />
	</root>
</configuration>